.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  margin: 2em;
}

@media screen and (max-width: 500px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;
    margin: 2em;
  }
  .article-image {
    height: 200px;
  }
}

@media screen and (max-width: 1300px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;
    margin: 2em;
  }
  .article-image {
    height: 500px;
  }
}

@media screen and (max-width: 810px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3em;
    margin: 2em;
  }
  .article-image {
    height: 300px;
  }
}